.idea
config.core.php
node_modules/
.vscode/
.directory
.ftpconfig

public_html/*

!public_html/core/
public_html/core/*
!public_html/core/components/
public_html/core/components/*
!public_html/core/components/app/

!public_html/assets/
public_html/assets/*
!public_html/assets/components/
public_html/assets/components/*
!public_html/assets/components/app/